grant codeBase "file:///I:/My%20Documents/PiJ/PiJ-Day21/Exercise%201%20-%20Echo/" {
    permission java.security.AllPermission;
    permission java.security.SocketPermission "*:1024-", "accept, resolve";
};